body {
    color: gray; 
    padding-top: 8%; 
}

/* IE Compatibility */
.CoveoSearchInterface.BAInsightCustom .coveo-results-column { 
    width:100%; 
}

/* Username/Authentication Bar */

#siteBar-zone{
    width:100%;
    background-color:#3498db;
    display: inline-block;
    color:#FFFFFF;
}
#userName{
   color: #FFFFFF;
    font-size: 1.2em;
    padding: 0.7em 1em;
    display: inline-block;
}

.leftAlign{
    width: calc(100% - 230px);
    height: 50px;
    float: left;
}

.rightAlign{
    display: inline-block;
}

/* Search Bar */

img {
    display: inline-block; 
/*    margin-left: -45%; */
/*    margin-right: auto; */
    position: absolute; 
}

#logo {
    width: 100%; 
/*    padding-left: 2%; */
    margin-top: 2%; 
}

#navigation {
    background-color: #fafafa; 
    border-bottom: 1px solid #e4e4e4;
    height: 175px; 
}

#search_header {
    background-color: #fafafa; 
    border: none; 
    height: 7em;
/*    margin-top: -10%;*/
    margin-left: -1%; 
    margin-right: auto;
    padding-top: 2.75%; 
    width: 600px; 
}

#search_bar {
    margin-top: 1%; 
}


.coveo-scoped-search-dropdown {
    background-color: #fafafa; 
    height: 40px; 
/*    display: none; */
}

#search_scopes {
    color: #666; 
    font-size: 13px; 
    list-style-type: none; 
    margin-top: -1%; 
    margin-left: -6%; 
}

.scope1, .scope2, .scope3, .scope4, .scope5 {
    cursor: pointer; 
    display: inline; 
    margin-left: 25px; 
}

.scope1:focus, .scope2:focus, .scope3:focus, .scope4:focus, .scope5:focus {
    border-bottom: 2px solid #3498db; 
}

.scope1:hover, .scope2:hover, .scope3:hover, .scope4:hover, .scope5:hover {
    border-bottom: 2px solid #3498db;
}

/* Results Per Page / Pagination */

/* Uses Original Coveo Classes */
.BAInsightCustom .coveo-pager-list-item.coveo-active a, .BAInsightCustom .coveo-active.coveo-results-per-page-list-item a, .BAInsightCustom .coveo-active.coveo-results-per-page-list-item a, .BAInsightCustom .coveo-pager-list-item:hover a, .BAInsightCustom .coveo-results-per-page-list-item:hover a, .BAInsightCustom .coveo-results-per-page-list-item:hover a {
    color: #3498db; 
}

/* Uses Original Coveo Classes */
.BAInsightCustom .coveo-pager-list-item.coveo-active, .BAInsightCustom .coveo-active.coveo-results-per-page-list-item, .BAInsightCustom .coveo-active.coveo-results-per-page-list-item, .BAInsightCustom .coveo-pager-list-item:hover, .BAInsightCustom .coveo-results-per-page-list-item:hover, .BAInsightCustom .coveo-results-per-page-list-item:hover {
    background-color: #fff; 
}

/* Uses Original Coveo Classes */
.BAInsightCustom .coveo-pager-list-item, .BAInsightCustom .coveo-results-per-page-list-item, .BAInsightCustom .coveo-results-per-page-list-item {
    background-color: #fff; 
}

.BAInsightCustom .coveo-results-per-page-list-item, .coveo-pager-list-item {
    background-color: #ffffff; 
    border: none;  
}

.BAInsightCustom a.coveo-results-per-page-list-item-text, .coveo-pager-list-item {
    background-color: #fff; 
    border: none; 
    color: #3498db; 
}

.coveo-active.coveo-results-per-page-list-item a {
    background-color: #fff; 
    border: none; 
    color: #3498db;
}

ul li a {
    background-color: #fff; 
    color: #3498db; 
}

/* Bottom Footer - Uses Original Coveo Classes */
.BAInsightCustom .footer-zone .CoveoPager {
    text-align: center; 
}

/*Left Side Refinement Panel */

/* Uses Original Coveo Classes */
.CoveoSearchInterface.BAInsightCustom .sidebar {
    float: none; 
    margin-left: 5%; 
    padding: 0; 
    width: 100%; 
}

.CoveoSearchInterface.BAInsightCustom .sidebar .coveo-facet-column {
    position: fixed; 
    width: 20%; 
}

/* Uses Original Coveo Classes */
.BAInsightCustom .CoveoFacet, .BAInsightCustom .CoveoFacetRange, .BAInsightCustom .CoveoFacetSlider, .BAInsightCustom .CoveoHierarchicalFacet {
    box-shadow: none; 
}

.BAInsightCustom .coveo-facet-header {
    font-weight: 700; 
    margin-bottom: -7%; 
    margin-left: -7%; 
}

.BAInsightCustom .CoveoFacet {
    margin-bottom: -10%; 
}

.separator {
    display: none; 
}

/* Uses Original Coveo Classes */
.BAInsightCustom .coveo-facet-value {
    font-size: 12px; 
    margin-bottom: -5%; 
}

.coveo-facet-value .coveo-facet-value-checkbox {
    margin-right: 2%; 
}

.coveo-slider-container {
    width: 95%; 
}

/* People Search Section */

#landing_categories {
    border-top: none; 
}

#people_search_header {
    color: #000; 
    font-size: 95%; 
    font-weight: bold; 
    width: calc(100% - 25px); 
}

.person_header {
    color: #1a0dab; 
    cursor: pointer; 
    font-size: 95%; 
    font-weight: 400; 
}

.person_header:hover {
    text-decoration: underline; 
}

.user_profile_pic {
    width: 50%; 
    margin-left: 25%; 
    position: relative; 
}

.tile {
    background-color: white; 
    border: 1px solid lightgray; 
/*    box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);*/
    margin-left: 2%; 
    margin-bottom: 3%; 
/*
    max-height: 250px; 
    min-height: 250px; 
*/
    width: 22%; 
    
}

.people_summary {
    color: #1a0dab; 
    font-size: 16px; 
}

.people_summary:hover {
    text-decoration: underline; 
}

/*
.people_source {
    color: #006621;
    font-size: 13px; 
    margin-top: 20%; 
}
*/

.people_email {
    color: #4f4f4f; 
    display: inline; 
    font-size: 12px; 
    font-weight: lighter; 
    margin-left: 5%; 
    overflow: hidden; 
}

.people_phone {
    color: #4f4f4f; 
    display: inline; 
    font-size: 12px; 
    margin-left: 5%; 
    font-weight: lighter;
    overflow: hidden; 
}

#more_people {
    margin-top: 3%; 
    color: #1a0dab;
    cursor: pointer; 
    font-size: 13px; 
    font-weight: 400; 
    padding-left: 3%; 
    position: relative; 
}

#more_people:hover {
    text-decoration: underline; 
}

/* Results Section */

#search_results {
    margin-left: auto; 
    margin-right: auto; 
    padding: 0; 
}

#search_content {
    margin-top:10%; 
}

#Main_results_section {
    width: 100%; 
}

.collapsed {
    max-height: 200px; 
}

.coveo-small-interface .collapsed {
    max-height: 200px; 
}

.CoveoExpandAction {
    display: none; 
}

#Results_List .shadow {
    box-shadow: none; 
    border: none; 
    margin-bottom: 3%; 
}

/* Original Coveo Classes */
.coveo-bailist-layout-container .CoveoResult .coveo-result-frame .info {
    border: none; 
    flex-grow: none; 
}



#Result_Title a {
    color: #1a0dab; 
    font-size: 18px;
    line-height: 1em; 
    margin-bottom: -1%;
    margin-left: 1%; 
}

.ContentSource {
    color: #006621; 
    font-size: 14px;
    margin-bottom: -2%; 
}

#Result_Summary {
    color: #545454; 
    font-size: 12px; 
    margin-bottom: 2%; 
    max-height: 5em; 
}

/* Original Coveo Classes */
.coveo-bailist-layout-container .CoveoResult .coveo-result-frame .info .list-info-wrapper .list-info [data-field="@excerpt"]{
    max-height: 70px; 
}

#author {
    padding-right: 2.5%;  
}

/* Main Content */

/*
#left_panel, #center_panel, #right_panel {
    margin-top: 10%; 
}
*/

/* Left Panel */

.search_content {
    margin-top: 5%; 
}

#left_panel {
    padding-left: 5%;
    width: 100%; 
    border: none; 
}

.BAInsightCustom .coveo-facet-value:hover {
    background-color: white; 
}

/*
.hover-default {
    display: none; 
}
*/

/* Center Panel */

#center_panel {
    padding-left: 5%; 
    width: 100%; 
    border: none; 
}

.result_title {
    color: #1a0dab;
    display: inline; 
    font-size: 18px; 
}

.result_title:hover {
    text-decoration: underline; 
}
.result_link {
    color: #006621;
    display: block; 
    font-size: 14px; 
}

.result_link:hover {
    text-decoration: none; 
}
.result_summary {
    color: #545454; 
    font-size: 14px; 
}

.pagination {
    display: inline; 
    font-size: 14px; 
    color: gray; 
    margin-left: 60%; 
}

.pagination:hover {
    text-decoration: underline; 
}
/* Right Panel */

#right_panel {
    float: right; 
    position: relative; 
    line-height: 1em; 
/*    padding-right: 5%; */
    margin-top: 1%; 
    padding-left: 4.5%; 
}

#social, #saved_queries {
    margin-top: 10%; 
}

/* Original Coveo Classes */
.BAInsightCustom .coveo-facet-header-title {
    text-align: left; 
}

/* Footer */

#footer {
    background-color: #fafafa; 
    border-top: 1px solid #e4e4e4;
    height: 54px; 
    width: 100%; 
}

/*==================================================
            Bootstrap 3 Media Queries             
==================================================*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) and (max-width: 479px) {
    #navigation {
        background-color: #fafafa;
        height: auto; 
    }
    
    #userName {
        margin-left: -30%; 
    }
    
    img {
        position: relative; 
/*        margin-left: 33%; */
    }
    
    #logo {
        width: 50%; 
        margin-left: 30%; 
    }
    
    .BAInsightCustom .coveo-breadcrumb-item {
        margin-left: 25%; 
    }
    
    .BAInsightCustom .coveo-breadcrumb-clear-all {
        margin-right: 15%; 
    }
    
    .CoveoSearchInterface.BAInsightCustom.coveo-small-tabs .coveo-dropdown-header, .CoveoSearchInterface.BAInsightCustom.coveo-small-facets .coveo-dropdown-header {
        margin-right: 47.5%; 
        margin-top: 4%; 
        position: relative; 
        top: 0px; 
    }
    
    #search_scopes {
        margin-left: -25%; 
        margin-top: -27.5%;
        text-align: center; 
    }
    
    .BAInsightCustom.CoveoSearchInterface.coveo-small-interface .coveo-results-header {
        margin-top: 5%; 
        margin-left: 5%; 
    }
    
    #landing_categories {
        margin-left: -12.5%; 
    }
    
    #more_people {
        padding-left: 47.5%; 
    }
    
    #search_header {
        margin-left: 2.5%; 
        min-height: 180px; 
        width: auto; 
    }
    
    #Result_Title a {
        margin-left: 5%; 
    }
    
    .ContentSource, #Result_Summary {
        margin-left: 4%; 
    }
    
    .BAInsightCustom .coveo-summary-section {
        margin-left: 33%; 
        margin-top: 35%; 
    }
    
    #Main_results_section, .search_content {
        width: 100%; 
        margin-left: -.5%; 
    }
    
    .coveo-bailist-layout-container .CoveoResult .coveo-result-frame .info {
        min-height: 155px; 
        margin-left: -20%; 
    }
    
    .coveo-bailist-layout-container .CoveoResult .coveo-result-frame .info .list-info {
        padding-top: 2px; 
    }
    
    .coveo-bailist-layout-container .CoveoResult .coveo-result-frame .info .list-info-wrapper .list-info [data-field="@excerpt"] {
        max-height: 50px; 
        overflow: hidden; 
    }
    
    
    .coveo-bailist-layout-container .CoveoResult .coveo-result-frame {
        margin-top: 2%; 
    }
    
    
    .BAInsightCustom .coveo-sort-section .CoveoSort {
        margin-left: 22.5%; 
    }
    
    .BAInsightCustom.coveo-small-interface .CoveoResultsPerPage {
        margin-left: 25%; 
        margin-top: 5%; 
    }
    
/*
    .CoveoSearchInterface.BAInsightCustom.coveo-small-facets .coveo-results-column {
        width: auto; 
    }
    
*/
    .coveo-bailist-layout-container .CoveoResult .coveo-result-frame .info .list-info-wrapper {
        margin-left: 10%; 
        width: 100%; 
    }
    
    #people_search_header {
        display: none; 
    }
    
    .people_email {
        font-size: 14px; 
        margin-right: 25% 
    }
    
    .people_phone {
        font-size: 14px; 
    }
    
    #search_results {
        margin-top: 40%; 
    }
    
    .tile {
        width: 45%;  
        margin-left: 33%; 
        margin-top: 10%; 
    }
    
    #person3, #person4, #person5 {
        display: none; 
    }
    
    #right_panel {
        display: none; 
    }
    
    .CoveoSearchInterface.coveo-small-interface .coveo-search-section {
        margin-left: -2.5%; 
        max-width: 425px; 

    }
    
    .coveo-bailist-layout .CoveoPreview.preview-small.coveo-no-preview {
        margin-left: 10%; 
    }
    

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) and (max-width: 767px) {
    #navigation {
        background-color: #fafafa;
        height: 225px; 
    }
    
    img {
        position: relative; 
        margin-left: 42.5%; 
    }
    
     #logo {
        width: 25%; 
        padding-left: 0; 
    }
    
    .CoveoSearchInterface.BAInsightCustom.coveo-small-tabs .coveo-dropdown-header, .CoveoSearchInterface.BAInsightCustom.coveo-small-facets .coveo-dropdown-header {
        position: absolute; 
        margin-right: 7.5%; 
        margin-top: 18.5%; 
        top: 0px; 
    }
    
    #search_scopes {
        margin-left: 10%; 
        margin-top: -10%; 
    }
    
    .BAInsightCustom .coveo-summary-section .CoveoQuerySummary {
        margin-left:46.5%; 
        margin-bottom: 5%; 
    }
    
    
/*
    .BAInsightCustom.CoveoSearchInterface.coveo-small-interface .coveo-results-header {
        margin-left: 17%; 
    }
*/
    
    .BAInsightCustom .coveo-results-per-page-text {
        margin-left: 20%; 
    }
    
    .BAInsightCustom.CoveoSearchInterface.coveo-small-interface .coveo-results-header {
        margin-left: 15%; 
    }
    
    .BAInsightCustom .coveo-breadcrumb-item {
        margin-left: 25%; 
    }
    
    .BAInsightCustom .coveo-breadcrumb-clear-all {
        margin-right: 15%; 
    }
    
    .CoveoSearchInterface.coveo-small-interface .coveo-search-section {
        max-width: 425px; 
        margin-right: 30%; 
    }
    
    .BAInsightCustom .coveo-results-per-page-text {
        margin-left: 10%; 
    }
    
    #people_search_header {
        display: none; 
    }
    
    .people_email {
        font-size: 14px; 
        margin-right: 2% 
    }
    
    .people_phone {
        font-size: 14px; 
    }
    
    #more_people {
        margin-left: 45%; 
    }
    
/*
    .BAInsightCustom .coveo-sort-section .CoveoSort {
        margin-left: 50%; 
        margin-right: -25%;  
    }
*/
    .coveo-bailist-layout-container > .CoveoResult {
/*        width: auto; */
        margin-left: 5%; 
/*        padding-right: 3.5%; */
    }
    
    #Main_results_section {
        width: 90%; 
    }
    
    .CoveoSearchInterface.BAInsightCustom .coveo-results-column {
        margin-left: 2.5%; 
/*        margin-right: 15%; */
        margin-top: 25%; 
/*        width: 66%; */
    }
    
    .coveo-bailist-layout-container .CoveoResult .coveo-result-frame .info .list-info-wrapper .list-info [data-field="@excerpt"] {
        max-height: 50px; 
        overflow: hidden; 
    }
    
    .CoveoSearchInterface.BAInsightCustom.coveo-small-facets .coveo-results-column  {
        width: auto; 
    }
    
    
    .coveo-bailist-layout-container > .CoveoResult {
        padding-left: 12.5%; 
    }
    
    .coveo-bailist-layout-container .CoveoResult .coveo-result-frame {
        margin-left: 2.5%; 
        min-height: 170px; 
    }

    .BAInsightCustom.coveo-small-interface .CoveoResultsPerPage {
        position: absolute;
        padding-left: 21%; 
        margin-top: -1.5%; 
    }
    
    .tile {
        display: inline-block;
        margin-left: 17.5%; 
        margin-bottom: 3%; 
        margin-top: 5%; 
        width: 30%; 
    }
    
    #person3, #person4, #person5 {
        display: none; 
    }
    
    #right_panel {
        display: none; 
    }
    
    .coveo-small-interface .collapsed {
        max-height: 180px; 
    }
}
    

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 991px) {
    
    #navigation {
        background-color: #fafafa;
        height: 250px; 
    }
    
    /* Original Coveo Search Classes */
    .CoveoSearchInterface.coveo-small-interface .coveo-search-section {
/*        margin-left: 22.5%; */
        max-width: 525px; 
/*        margin-left: -1.5%; */
        margin-right: 33%; 
    }
    
    #logo {
        width: 25%; 
        padding-left: 0; 
    }
    
    img {
        position: relative; 
        margin-left: 40%; 
    }
    
    #search_header {
        width: 100%; 
        margin-left: 12%; 
    }
    
/*     Refiners  Need to be collapsible */
/*
    .sidebar .coveo-facet-column {
        display: none; 
    }
*/
    
/*
    .search_content {
        margin-top: 3%; 
    }
*/
    
/*
    .BAInsightCustom .coveo-results-header {
        margin-bottom: 5%; 
    }
    
    .CoveoSearchInterface.BAInsightCustom .coveo-results-column {
        margin-left: 15%; 
        margin-right: 15%; 
        margin-top: 10%; 
    }
    
*/
    #search_scopes {
        margin-top: 0; 
        text-align: center; 
    }
    
    .search_content {
        margin-top: 10%; 
    }
    
    /* Uses Original Coveo Search Classes */
    .CoveoSearchInterface.BAInsightCustom.coveo-small-tabs .coveo-dropdown-header, .CoveoSearchInterface.BAInsightCustom.coveo-small-facets .coveo-dropdown-header, .CoveoSearchInterface.BAInsightCustom.coveo-small-recommendation .coveo-dropdown-header {
        margin-right: 10%; 
        margin-top: 18%; 
    }
    
    /* Uses Original Coveo Search Classes  */
    .BAInsightCustom .coveo-sort-section .CoveoSort {
        margin-left: 50%; 
        margin-right: -25%;  
    }
    
    #more_people { 
        margin-top: -1%; 
        text-align: center; 
    }
    
    /* Uses Original Coveo Search Classes */
    .coveo-small-interface .coveo-bailist-layout-container .CoveoResult .coveo-result-frame .info .list-info-wrapper {
        margin-left: 15%; 
    }
    
    
    /* Uses Original Coveo Search Classes */
    .coveo-bailist-layout-container .CoveoResult .coveo-result-frame {
        margin-left: 12%; 
        margin-right: 15%; 
/*        margin-top: 25%; */
        width: 70%;
    }
    
    #people_search_header {
        display: none; 
    }
    
    .people_email {
        font-size: 18px; 
        margin-right: 25%; 
    }
    
    .people_phone {
        font-size: 18px; 
    }
    
    .BAInsightCustom.coveo-small-interface .CoveoResultsPerPage {
        width: auto; 
        margin-right: 12.5%; 
    }
        
    
    .tile {
        display: inline-block;
        margin-left: 1%;  
        margin-bottom: 3%; 
        margin-top: 2.5%; 
        width: 16.6%%; 
    }
    
    #person1 {
        margin-left: 28%; 
    }
    
    .BAInsightCustom .coveo-results-header {
/*        margin-top: 5%; */
        margin-left: 9%; 
    }
    
    .BAInsightCustom.CoveoSearchInterface.coveo-small-interface .coveo-results-header {
        margin-top: 12%; 
/*        margin-left: 17.5%; */
    }
    
    #person5, #person4, #person3 {
        display: none; 
    }
    
    #right_panel {
        display: none; 
    }
    
    .coveo-small-interface .collapsed {
        max-height: 200px; 
    }


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width: 1199px) {
    #logo {
        margin-left: -2%; 
        padding-left: 0; 
    }
    
    .search_content {
        margin-top: 7.5%; 
    }
    
    .coveo-summary-section {
        margin-left: -3%; 
    }
    
    .BAInsightCustom .coveo-results-header: {
        margin-left: -4%; 
    }
    
    .CoveoSearchInterface.BAInsightCustom .sidebar {
        margin-left: 5%; 
        width: 85%; 
    }
    
    .CoveoSearchInterface .coveo-search-section {
        margin-right: 33%; 
    }
    
    .BAInsightCustom.CoveoSearchInterface .coveo-main-section {
        margin-left: -32.5%; 
    }
    
    .CoveoSearchInterface.BAInsightCustom .coveo-results-column {
        margin-left: 33%; 
    }
    
    .tile {
        width: 22%; 
    }
    
    #person5 {
        display: none; 
    }

}

/* Large Devices, Wide Screens */

@media only screen and (min-width : 1300px) {
    
/*
    .container {
        width: 1100px !important; 
    }
*/
    
    .CoveoSearchInterface {
        margin-top: -2%; 
    }
    
/*
    img {
        margin-left: -17%; 
    }
*/
    
    #logo {
        margin-top: 1%;
        width: 75%; 
    }
    
    .BAInsightCustom .coveo-facet-header-title {
        margin-top: 15%; 
    }
    
    .BAInsightCustom .coveo-results-header {
        margin-right: 5%; 
    }
    
    .CoveoSearchInterface.BAInsightCustom .sidebar {
/*        display: relative; */
/*        margin-left: 0; */
        width: 85%; 
        margin-left: -2%; 
/*        padding-left: 5%; */
    }
    
    .BAInsightCustom .CoveoFacet {
        margin-bottom: -3.5%; 
    }
    
    .CoveoSearchInterface.BAInsightCustom .sidebar .coveo-facet-column {
        position: fixed; 
        margin-left: 1%; 
        margin-top: 1%; 
        width: 17.5%; 
        
    }
    
    .BAInsightCustom .coveo-facet-header-settings {
        margin-top: 10%; 
    }
    
    .coveo-facet-header-operator {
        margin-top: 8%; 
    }
    
    .CoveoSearchInterface.BAInsightCustom .coveo-search-section {
/*        margin-right: 45%; */
        margin-left: -22.5%; 
    }
    
    #search_scopes {
        margin-left: -3%; 
    }
    
    #search_header {
        margin-left: 15%; 
    }
    
    .search_content {
        margin-top: 3.5%; 
    }
    
    #Result_Title a {
        margin-left: 0; 
    }
    
    .collapsed {
        max-height: 220px; 
    }
    
    .CoveoSearchInterface.BAInsightCustom .coveo-results-column {
        margin-left: 0%; 
        margin-top: 5%; 
    }
    
    
    .coveo-bailist-layout-container .CoveoResult .coveo-result-frame .info .list-info {
        width: 100%; 
    }
    
    #more_people {
        display: inline; 
    }
    
    .ContentSource {
        margin-top: 1%; 
/*        margin-bottom: 1%; */
    }
    
    #Result_Summary, .ContentSource {
        margin-left: -.5%; 
    }
}
